<body style="background-color: #f5f5f5;">
  <div class="container">
    <header class="d-flex justify-content-between align-items-center py-3">
      <h1 class="mb-0">Our Bikes</h1>
      <%= link_to "Add Your Bike", new_bike_path(@bike), class: "btn btn-primary" %>
    </header>
    <% if @bikes.present? %>
      <div class="row mt-4">
        <% @bikes.each do |bike| %>
          <div class="col-md-4 mb-4">
            <%= link_to bike_path(bike), class: "text-decoration-none" do %>
              <div class="card h-100">
                <% if bike.photo.attached? %>
                  <%= cl_image_tag bike.photo.key, height: 300, width: 400, crop: :fill, class: "card-img-top" %>
                <% else %>
                  <img src="https://images.unsplash.com/photo-1485965120184-e220f721d03e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3540&q=80" alt="default bike picture" class="card-img-top">
                <% end %>
                <div class="card-body">
                  <h5 class="card-title"><%= bike.name %></h5>
                  <p class="card-text">
                    Bike Type: <%= bike.bike_type %><br>
                    Price: $<%= bike.price %><br>
                    Location: <%= bike.location %>
                  </p>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% else %>
      <p class="mt-4">No bikes found matching your search criteria.</p>
    <% end %>
  </div>
</body>
