<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0"><%= @bike.name %></h3>
    <div>
      <%= link_to "Edit", edit_bike_path(@bike), class: "btn btn-primary me-2" %>
      <%= link_to "Delete", @bike, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-danger" %>
      <%= link_to "Reserve Bike", new_bike_booking_path(@bike), class: "btn btn-primary me-2" %>
    </div>
      <div class="row">
        <div class="col-md-6">
        <strong>Bike Type:</strong> <%= @bike.bike_type %>
      </div>
        <div class="mb-6">
        <strong>Price:</strong> <%= number_to_currency(@bike.price) %>
        </div>
        <div class="mb-6">
        <strong>Location:</strong> <%= @bike.location %>
        </div>
      <div class="mb-6">
        <strong>User:</strong> <%= @bike.user.first_name %>
      </div>
    </div>
  </div>
</div>
<div class="mb-6">
<%= link_to "Return", bikes_path(@bike), class: "btn btn-primary me-2" %>
</div>
